header {
  height: 208px;
  max-width: 1440px;
  width: 100vw;
  background-image: url('/MLobaUQcwnPzN7QEAFWMFWz6XIdVAUpnVMy607hq.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  position: relative;
}

.mask {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
}

.logo {
  position: absolute;
  left: 5%;
  bottom: 119px;
  height: 57px;
  width: 240px;
  background-image: url('/logo.svg');
  background-size: contain;
}

.navbar {
  position: absolute;
  right: 35%;
  bottom: 80px;
  width: 123px;
  height: 30px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

h1 {
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;
  color: white;
}

@media (min-width: 768px) {
  .logo {
    left: 11.25%;
    bottom: 119px;
  }

  .navbar {
    right: 11.25%;
    bottom: 146px;
  }

  h1 {
    bottom: 33px;
  }
}
